@using Microsoft.AspNetCore.Identity
@inject SignInManager<SportUpUser> SignInManager

@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="col d-flex justify-content-center">
    <div class="row text-center">
        <a asp-action="ViewAvailableTeams" asp-controller="Team" style="text-decoration: none; color: inherit;">
            <div class="card bg-light mb-3" style="width: 18rem;">
                <div class="card-header">
                    <div style="font-size: 1rem;">
                        <i class="fas fa-search fa-5x"></i>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">Find a team</p>
                </div>
            </div>
        </a>

        @if (SignInManager.IsSignedIn(User))
        {
            <a href="#" style="text-decoration: none; color: inherit;">
                <div class="card bg-light mb-3" style="width: 18rem; margin-left:1rem;">
                    <div class="card-header">
                        <div style="font-size: 1rem;">
                            <i class="fas fa-plus card-img-top fa-5x"></i>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Join a team</p>
                    </div>
                </div>
            </a>

            <a asp-action="ViewEnrolledTeams" asp-controller="Team" style="text-decoration: none; color: inherit;">
                <div class="card bg-light mb-3" style="width: 18rem; margin-left:1rem;">
                    <div class="card-header">
                        <div style="font-size: 1rem;">
                            <i class="fas fa-users fa-5x"></i>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">View your teams</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

