@using Microsoft.AspNetCore.Identity
@inject SignInManager<SportUpUser> SignInManager

@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h2>Navigate to your profile to add sports!</h2>
    </div>
}
else
{
    <div class="text-center">
        <h2>Log in to start adding sports!</h2>
    </div>
}
