@model List<Team>

<table class="table">
    <thead>
        <tr>
            <td>Team Name</td>
            <td>Sport</td>
            <td>Total Members</td>
            <td>Play Style</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.TeamSportType.Name</td>
                <td>@team.UserTeams.Count</td>
                <td><a asp-action="ViewTeam" asp-route-TeamId="@team.Id">Team Page</a></td>
            </tr>
        }
    </tbody>
</table>
